* {
  font-family: ibm-plex-sans, sans-serif;
  
}


.d-height {
  height: 71vh;
}

.glass-effect {
  background-color: #37426B;
  backdrop-filter: blur(10px);
}

#navbarNav a {
  text-decoration: none;
  color: white;
  border: 3px solid white;
  border-radius: 36px;
  text-align: center;
}

#navbarNav a:hover {
  background-color: rgb(255, 255, 255);
  color: #5E98FF;
}

.banner {
  position: relative;
  max-height: 400px;
  height: 100%;
  width: 100%;
}
.banner-container {
  position: relative;
  height: 100%;
  width: 100%;
}
.banner-img {
  position: relative;
  max-height: 400px !important;
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(20%);
}
.inner-banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: #fff;
}

.navbar .nav-item {
  margin-right: 20px; 
  width: 150px;
  align-items: center;
}

#form-container > div {
  width: 50%;
  min-width: 250px;
  color: #37426B;
}
@media (max-width: 950px) {
  #form-container > div {
    width: 100% !important;
  }
}

#menssage-form {
  max-width: 350px;
  width: fit-content;
}


#hero-container {
  background-color: #95CDEC;
  width: 100vw;
  height: 100vh; 
  justify-content: center;
  padding-top: 220px;
  padding-left: 135px;
}

#input-message {
  border: 30px solid #d9d9d9 ; 
  border-radius: 25px;
  border-width: 10px;
}

h1 {
  font-size: 72px;
  font-weight: 632;
  color: #37426B;
}

.btn.custom-btn {
  background-color: #37426B; 
  color: #ffffff; 
  border-radius: 25px; 
  padding: 10px 20px;
  text-align: center;
  height: 45px;
  width: 150px;
  font-size: auto;
}
.btn.custom-btn:hover {
  background-color: #0056b3; 
  color: #ffffff;
}

.image1 {
  width: 700px;
  height: 400px;
  float: left;
  border-radius: 25px;
}

.custom-button {
  background-color: #37426B; 
}

.card {
  border-radius: 25px;
  background-color: #d9d9d9;
  color: white;
}

.card-text {
  color: #1e1e1e;
  font-weight: 600;
  font-size: 15px;
}

.card-body {
  padding-top: 30px;
}
.tituloh2 {
  font-weight: 600;
}
.paragrafo {
  padding-top: 0;
  padding-bottom: 0;
  font-weight: 400;
}



#card-grid {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  max-height: 300px;

  overflow: hidden scroll;
}



#card-grid > * {
  overflow: hidden;
}

#questions-container > div > div > .card {
  min-height: fit-content;
  max-width: 500px;
  overflow-y: hidden;
}



#about-container {
  background-color: #DDF1FC;
  padding-top: 20px;

  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding-bottom: 15px;

}
.btnsubmit {
  background-color: #37426B;
  color: white;
  border-radius: 25px;
  padding: 10px 20px;
  font-family: ibm-plex-sans, sans-serif;
  text-align: center;
  height: 45px;
  width: fit-content;
  font-size: auto;
}
btn btn-dark px-5 custom-button


.footer {
  background-color: #37426B;
  color: white;
  padding: 20px;
}
.containersdm {
  background-color: black;
  color: white;
  padding: 20px;
}

#apoiop{
  background-color: #9FD2EE;
  color: #37426B;
  padding: 20px;
  background-image: url('https://images.unsplash.com/photo-1604881991720-f91add269bed?q=80&w=987&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: 100% 100%;}

  #inputemail {
   border-width: 3px;
   border-color: #37426B ;
    border-radius: 25px;
  }

  .footerall {
    background-color: #37426B;
    color: white;
    padding: 20px;
    padding-top: 20px;
  }

  #botaonews
  {
    background-color: white;
    width: fit-content;
    height: 40px;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    
   
  }

  .support-systems h2 {
    color: #ffffff; 
    font-size: 24px; 
    font-weight: bold; 
    margin-bottom: 20px; 
    text-align: center; 
    background-color: #37426B;
    color: white;;
  }

  
 

